        .autoreply-ai-save-button {
            background: linear-gradient(45deg, #4481f3, #59b9ff);
            border: none;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }
        .autoreply-ai-save-button:hover {
            background: linear-gradient(45deg, #59b9ff, #4481f3);
        }
		.form-table th{
			width:250px ;
		}
		.ai-reply-admin{
	max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.header-text-ai{
    text-align: center;
    background: #4481f3;
    color: #fff;
    border-radius: 15px 15px 0 0;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 2px dotted #2271b1;
    cursor: pointer;
    padding: 3px 2px;
    color: #2271b1;
}

.tooltip .tooltiptext {
visibility: hidden;
    width: 230px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px 8px;
    position: absolute;
    z-index: 1;
    top: 2px;
    margin-left: 10px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

